/* You can add global styles to this file, and also import other style files */
$primary: #64cd33;
$secondary: #2d610e;
$summary-background: #ed81ee;
$summary-button: #9acd32;
$summery-text: #192b6f;
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spin::before {
    -webkit-animation: 1.5s linear infinite spinner;
    animation: 1.5s linear infinite spinner;
    -webkit-animation-play-state: inherit;
    animation-play-state: inherit;
    border: solid 10px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
.container {
    margin-bottom: 100px;
}
button {
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}
.product {
    display: inline-flex;
    width: 100%;
    border-bottom: 2px solid black;
    padding-top: 35px;
    &:last-child {
        border-bottom: none;
    }
    .left {
        width: 40%;
        text-align: center;
        img {
            width: 90px;
            height: 130px;
            object-fit: cover;
            background-color: white;
        }
        .offer {
            font-size: 20px;
        }
    }
    .right {
        width: 60%;
        .brand-name {
            font-size: 25px;
            font-weight: bolder;
            color: $secondary;
            margin-bottom: 10px;
        }
        .product-name {
            font-size: 20px;
            margin-bottom: 5px;
        }
        .quantity {
            font-size: 20px;
            margin-bottom: 5px;
        }
        .mrp {
            font-size: 20px;
            margin-bottom: 5px;
        }
        .price {
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .button-group {
            display: inline-block;
            width: 100%;

            .cart {
                width: 25%;
                @media (min-width: 320px) and (max-width: 750px) {
                    width: 50%;
                }
                float: left;
                .cart-button {
                    background-color: $primary;
                    border-style: hidden;
                    border-radius: 10px;
                    font-size: 18px;
                    font-weight: bolder;
                    height: 35px;
                    width: 160px;
                    @media (min-width: 320px) and (max-width: 750px) {
                        width: 110px;
                    }
                }
            }

            .count {
                width: 50%;
                float: left;
                @media (min-width: 320px) and (max-width: 750px) {
                    float: right;
                }
                .count-content {
                    display: inline;
                    float: left;
                    @media (min-width: 320px) and (max-width: 750px) {
                        float: right;
                    }
                    .plus {
                        background-color: $primary;
                        border-style: hidden;
                        border-radius: 50px;
                        font-size: 18px;
                        font-weight: bolder;
                        height: 35px;
                        width: 35px;
                    }
                    .minus {
                        background-color: $primary;
                        border-style: hidden;
                        border-radius: 50px;
                        font-size: 18px;
                        font-weight: bolder;
                        height: 35px;
                        width: 35px;
                    }
                    .count-label {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.summary {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: $summary-background;
    .left {
        float: left;
        .qnty {
            font-size: 25px;
            font-weight: bolder;
            color: $summery-text;
        }
        .total {
            font-size: 25px;
            font-weight: bolder;
            color: $summery-text;
        }
    }
    .right {
        padding: 10px;
        float: right;
        margin-right: 10px;
        .checkout {
            background-color: $summary-button;
            border-style: hidden;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bolder;
            width: 180px;
            height: 35px;
        }
    }
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: $primary;
    color: white;
}

.modal-body {
    padding: 50px;
    .total{
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
        color: $secondary;
        span{
            color: $summery-text;
        }
    }
}
